* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: $primary-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  background-color: #eaecf0;
}
html {
  -webkit-text-size-adjust: 100%;
  scrollbar-width: thin;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
button,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  line-height: 0;
  touch-action: manipulation;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
table {
  margin-bottom: unset !important;
}
.form-check-input:disabled {
  background-color: #aaaaaa;
  border-color: #aaaaaa;
  opacity: 1;
}
::selection {
  background-color: #0050b3;
  color: $light-color;
}

// test
.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  max-width: 190px;
  width: 100%;
  background-color: #f2f4f7;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  &-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    padding: 16px;
    span {
      @include size(64px);
      border: 1px solid rgb(208, 213, 221);
      background-color: rgb(174, 64, 191);
      display: inline-block;
      line-height: 2.5;
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: 25.6px;
      box-sizing: content-box;
      border-radius: 50%;
    }
    h4 {
      color: #101828;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &-menu {
    ul > li > a {
      color: #101828;
      line-height: 22px;
      padding: 10px 20px;
      font-size: 14px;
      display: inline-flex;
      align-items: center;
      gap: 11px;
      width: 100%;
      transition: all 0.24s ease;
      &.active {
        pointer-events: none;
        background-color: #d6e3fb;
        border-radius: 8px;
        font-weight: bold;
      }
      &:hover {
        color: #40a9ff;
      }
      svg {
        font-size: 20px;
      }
      i {
        margin-left: auto;
        font-size: 11px;
      }
    }
    .submenu {
      li a {
        padding-left: 2.4rem !important;
      }
    }
  }
  &-footer {
    border-top: 1.5px solid rgb(208, 213, 221);
    margin-top: auto;
    padding: 10px 20px;
    button {
      padding: 5px;
      display: flex;
      align-items: center;
      gap: 10px;
      svg {
        width: 25px;
      }
      span {
        color: #101828;
        line-height: 22px;
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        gap: 11px;
        width: 100%;
        transition: all 0.24s ease;
      }
    }
  }
}

.tools {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 20px;
  &-add {
    background-color: #0050b3;
    border-radius: 8px;
    color: $light-color;
    padding: 9.1px 12px;
    transition: opacity 0.24s ease;
    &:hover {
      opacity: 0.8;
    }
    i {
      font-size: 14px;
    }
  }
  &-button,
  &-group {
    background-color: #ffffff;
    border: 1px solid #d0d5dd;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #101828;
    border-radius: 6px;
    padding: 9.1px 12px;
    &:hover {
      color: #40a9ff;
      border-color: #40a9ff;
    }
    svg {
      width: 14px;
    }
    i {
      font-size: 10px;
      color: inherit;
    }
    .eye {
      font-size: 14px;
      color: #40a9ff;
    }
    .line {
      height: 100%;
      background-color: red;
      width: 1px;
    }
  }
  &-group {
    padding: 0 12px;
    &:hover {
      border-color: transparent;
      color: unset;
    }
    .line {
      height: 100%;
      width: 1px;
      background-color: #d0d5dd;
    }
  }
}

.alert-message {
  margin-block: 12px;
  padding: 8px 12px;
  background: #e6f4ff;
  border: 1px solid #91caff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 8px;
  i {
    color: #1677ff;
    margin-right: 8px;
  }
  a {
    margin-left: 2px;
    color: #0050b3;
    &:hover {
      opacity: 0.8;
    }
  }
}
.table {
  thead tr th {
    background-color: #dee1e8;
  }
  th,
  td {
    text-align: center;
    padding: 14px;
  }
}

@include maxWidth(1199px) {
  #wrapper > *:not(.message-mobile) {
    display: none !important;
  }
}
