.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0 20px 0;
  background-color: #eaecf0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(1.563rem, -18.125rem + 21.875vw, 3.75rem);
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .logo-web {
      font-weight: 500;
      font-size: 64px;
      line-height: 96px;
      color: $primary-text;
      transition: color 0.24s ease;
      &:hover {
        color: rgba(175, 65, 65, 1);
      }
    }
    img {
      width: 45px;
      cursor: pointer;
    }
  }
  .variation-link {
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 15px;
      border-bottom: 2px solid transparent;
      color: rgb(16, 24, 40);

      svg {
        width: 17px;
      }
      span {
        font-size: 16px;
      }
      &.active {
        color: rgb(0, 80, 179);
        border-color: #096dd9;
      }
    }
  }
  .search {
    background-color: #dbdfe6;
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    height: 34px;
    border-radius: 8px;
    &-dropdown {
      max-width: clamp(6.25rem, -62.973rem + 81.081vw, 10rem);
      width: 100%;
      border-right-color: #d0d5dd;
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
      height: 100%;
      cursor: pointer;
      i {
        color: rgb(191, 189, 189);
      }
    }
    &-field {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-between;
      flex: 1;
      height: 100%;
      padding-inline: 20px;
      border-left: 1px solid #d0d5dd;
      transition: all 0.25s ease;
      border-radius: inherit;
      &:focus-within {
        border-color: #86b7fe;
        box-shadow: 0 0 0 0.25rem rgba(14, 110, 253, 0.25);
      }
      input {
        font-family: inherit;
        font-size: 14px;
        line-height: 22px;
        border: none;
        outline: none;
        background-color: transparent;
        @include size(100%);
      }
    }
  }
  .control {
    max-width: clamp(21.875rem, -35.811rem + 67.568vw, 25rem);
    width: 100%;
    gap: 18px;
    &,
    &-main,
    &-filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-filter {
      justify-content: space-between;
      gap: 10px;
      background-color: #dbdfe6;
      padding: 11px 12px;
      max-width: 180px;
      width: 100%;
      border-radius: 6px;
      i {
        color: rgb(191, 189, 189);
      }
    }
    &-main {
      gap: 18px;
      svg {
        width: 20px;
        cursor: pointer;
      }
      .avatar {
        border-radius: 50%;
        @include size(32px);
        background-color: hsl(357, 50%, 50%);
        display: inline-block;
        line-height: 2.5;
        text-align: center;
        color: #fff;
        font-size: 12.8px;
        cursor: pointer;
      }
    }
  }
}
