.header {
  padding: 10px 0 20px 0;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .logo-web {
      font-weight: 500;
      font-size: 64px;
      line-height: 96px;
      color: $primary-text;
      transition: color 0.24s ease;
      &:hover {
        color: rgba(175, 65, 65, 1);
      }
    }
    img {
      width: 45px;
      cursor: pointer;
    }
  }
}
