.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  max-width: 190px;
  width: 100%;
  background-color: #f2f4f7;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  &-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    padding: 16px;
    span {
      @include size(64px);
      border: 1px solid rgb(208, 213, 221);
      background-color: rgb(174, 64, 191);
      display: inline-block;
      line-height: 2.5;
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: 25.6px;
      box-sizing: content-box;
      border-radius: 50%;
    }
    h4 {
      color: #101828;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &-menu {
    & > ul > li > a.active {
      color: #0050b3;
    }
    ul li a {
      color: #101828;
      line-height: 22px;
      padding: 10px 20px;
      font-size: 14px;
      display: inline-flex;
      align-items: center;
      gap: 11px;
      width: 100%;
      transition: all 0.24s ease;
      &:hover {
        color: #40a9ff;
      }
      svg {
        font-size: 20px;
      }
      i {
        margin-left: auto;
        font-size: 11px;
      }
    }
    .submenu li a {
      padding-left: 2.4rem !important;
      &.active {
        pointer-events: none;
        background-color: #d6e3fb;
        border-radius: 8px;
        font-weight: bold;
      }
    }
  }
  &-footer {
    border-top: 1.5px solid rgb(208, 213, 221);
    margin-top: auto;
    padding: 10px 20px;
    button {
      padding: 5px;
      display: flex;
      align-items: center;
      gap: 10px;
      svg {
        width: 25px;
      }
      span {
        color: #101828;
        line-height: 22px;
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        gap: 11px;
        width: 100%;
        transition: all 0.24s ease;
      }
    }
  }
}
