.tools {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   gap: 10px 20px;
   &-add {
     background-color: #0050b3;
     border-radius: 8px;
     color: $light-color;
     padding: 9.1px 12px;
     transition: opacity 0.24s ease;
     &:hover {
       opacity: 0.8;
     }
     i {
       font-size: 14px;
     }
   }
   &-button,
   &-group {
     background-color: #ffffff;
     border: 1px solid #d0d5dd;
     display: flex;
     gap: 8px;
     align-items: center;
     justify-content: center;
     font-weight: 400;
     white-space: nowrap;
     text-align: center;
     cursor: pointer;
     transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
     color: #101828;
     border-radius: 6px;
     padding: 9.1px 12px;
     &:hover {
       color: #40a9ff;
       border-color: #40a9ff;
     }
     svg {
       width: 14px;
     }
     i {
       font-size: 10px;
       color: inherit;
     }
     .eye {
       font-size: 14px;
       color: #40a9ff;
     }
     .line {
       height: 100%;
       background-color: red;
       width: 1px;
     }
   }
   &-group {
     padding: 0 12px;
     &:hover {
       border-color: transparent;
       color: unset;
     }
     .line {
       height: 100%;
       width: 1px;
       background-color: #d0d5dd;
     }
   }
 }