<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Thêm sản phẩm mới</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="productForm">
          <div class="mb-3">
            <label for="productCode" class="form-label">Mã sản phẩm</label>
            <input type="text" class="form-control" id="productCode" required />
          </div>
          <div class="mb-3">
            <label for="productName" class="form-label">Tên sản phẩm</label>
            <input type="text" class="form-control" id="productName" required />
          </div>
          <div class="mb-3">
            <label for="productCategory" class="form-label">Danh mục</label>
            <input
              type="text"
              class="form-control"
              id="productCategory"
              required
            />
          </div>
          <div class="mb-3">
            <label for="productPrice" class="form-label">Giá</label>
            <input
              type="number"
              class="form-control"
              id="productPrice"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer gap-2">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fas fa-times-circle me-1"></i>
          Đóng
        </button>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-save me-1"></i>
          Lưu
        </button>
      </div>
    </div>
  </div>
</div>
